<template>
    <div class="bank-account--container">
        <div class="bank-accounts">
            <h3>Select Your Bank Account</h3>
            <div
                class="bank"
                :class="{ 'bank--selected': idx === accountselectedIndex }"
                v-for="(account, idx) in accounts"
                @click="selectBankAccount(idx)"
            >
                {{ account.memberName }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({
        // accountselectedIndex: 0
    }),
    mounted(){
        // TODO Select Default Account
    },
    computed: {
        accountselectedIndex: {
            get: function() {
                return this.$store.state._selectedAccount
            },
            set: function(newValue){


                this.$store.commit('setSelectedAccount', newValue)
            }
        }
    },
    props: {
        accounts: {
            kind: Array,
            required: false
        }
    },
    methods: {
        selectBankAccount(idx) {
            this.accountselectedIndex = idx;
        }
    }
};
</script>

<style lang="scss" scoped></style>
