<template>
    <div class="button--container__confirm">
        <div class="send-confirm-button">
            <button @click="actionFunction">
                <div v-if="loading" class="spinner"></div>
                <span v-else>
                    {{ text }}
                </span>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    data: () => ({}),
    props: {
        loading: {
            kind: Boolean,
            default: false
        },
        text: {
            kind: String,
            // default: 'Next ⇒'
        },
        actionFunction: {
            kind: Function,
        }
    }
};
</script>
