<template>
    <div class="payment-exchange--container">
            <div class="payment-member">
                <div class="label">From</div>

                <div class="info">
                    <div class="left">
                        <div class="image">
                            <!-- sender.image -->
                            <img :src="sender.image" />
                        </div>
                    </div>
                    <div class="right">
                        <!-- sender.name -->
                        <div class="name">{{ sender.name }}</div>
                        <!-- sender.mobilenumber -->
                        <div class="number">{{ sender.mobilenumber}}</div>
                    </div>
                </div>
            </div>

            <p></p>

            <div class="payment-member payment-member--right">
                <div class="label">To</div>
                <div class="info">
                    <div class="left">
                        <div class="image" v-if="merchant.image">
                            <!-- merchant image -->
                            <img :src="merchant.image" />
                        </div>
                    </div>
                    <div class="right">
                        <div class="name">
                            <!-- merchant name -->
                            {{ merchant.name }}
                        </div>
                        <div class="number">
                            <!-- merchant number -->
                            {{ merchant.mobilenumber }}
                        </div>
                    </div>
                </div>
            </div>

    </div>
</template>

<script>
export default {
    props: {
        sender: {
            kind: Object,
            required: false
        },
        merchant: {
            kind: Object,
            required: false,
        }
    },
    methods: {
        titleCase(str) {
            // https://www.freecodecamp.org/news/three-ways-to-title-case-a-sentence-in-javascript-676a9175eb27/
            str = str.toLowerCase().split(" ");
            for (var i = 0; i < str.length; i++) {
                str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1);
            }
            return str.join(" ");
        }
    },
    computed: {
        profile() {
            return this.$store.state._profile;
        },
        profileName() {
            return this.titleCase(this.$store.state._profile.name);
        },
        profileImage() {
            if (this.$store.state._profile.images.length > 0) {
                return this.$store.state._profile.images[0].thumbnailUrl;
            } else {
                return null;
            }
        }
    }
};
</script>

<style lang="scss" scoped>
.payment-member {
    & > .label {
        text-align: left;
        font-weight: 600;
        color: #bbb;
        font-size: 14px;
        text-align: left;
        margin-bottom: 2px;
        // image size + margin-left
        // margin-left: calc(48px + 8px);
    }
    & > .info {
        display: flex;

        .right {
            margin-left: 8px;
        }

        .image {
            height: 48px;
            width: 48px;
            display: block;
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid #eee;
            background: #eee;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .name {
            font-weight: 600;
            font-size: 17px;
        }

        .number {
            text-align: left;
            font-size: 14px;
            font-weight: 400;
            color: #aaa;
        }
    }

    .right {
        text-align: left;
    }

    &--right {
        // max-width: 50%;

        & > .label {
            text-align: right;
            // margin-right: calc(48px + 8px);
        }

        & > .info {
            justify-content: flex-end;

            .right {
                margin-left: 8px;
            }

            .number {
                text-align: right;
            }

            // margin-left: 1rem;
            // max-width: 50%;
        }
    }
}
</style>
