<template>
  <div id="app">
    <div class="logo-header">
      <img src="@/assets/cellpay_logo.svg" />
    </div>

    <transition name="fade" mode="out-in">
        <router-view />
    </transition>


    <notifications group="default" position="bottom" />
  </div>
</template>

<style lang="scss">
@import "@/assets/styles/app.scss";



.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}


.logo-header {
  margin-bottom: 16px;

  img {
    margin-top: 20px;
    width: 240px;

  }
}


.spinner {
  width: 30px;
  height: 30px;
  // margin: 100px auto;
  background-color: white;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100%;
  min-width: 100%;
  background-image: url("~@/assets/page-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-attachment: fixed;
  background-color: #ecf8f8;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
