<template>
    <div class="payment-view">
        <div class="payment-card">
            <transactionPeople
                :sender="senderInfo"
                :merchant="merchantInfo"
            ></transactionPeople>

            <div class="transaction-pin otp-pin">
                <label for="pin">
                    Your PIN/Password
                </label>
                <input
                    type="password"
                    name="input"
                    placeholder="PIN/Password"
                    maxlength="6"
                    minlength="6"
                    v-model="transactionPin"
                />
            </div>

            <div class="transaction-pin otp-pin" v-if="otpRequired">
                <label for="otp"
                    >You will recive a confirmation code in your mobile phone.
                    Please enter that code below.</label
                >
                <p></p>
                <input
                    type="password"
                    name="otp"
                    placeholder="OTP Code"
                    maxlength="6"
                    minlength="6"
                    v-model="otpPin"
                />
            </div>

            <confirmButton
                :text="consolidatedPrice"
                :actionFunction="send"
                :loading="loading"
            ></confirmButton>
        </div>
    </div>
</template>

<script>
import TransactionPeople from "@/components/TransactionPeople";
import ConfirmButton from "@/components/Button";

export default {
    components: {
        transactionPeople: TransactionPeople,
        confirmButton: ConfirmButton
    },
    data: () => ({
        loading: false,
        otpRequired: false,
        // v-model
        transactionPin: "",
        otpPin: "",
        sent: false
    }),
    mounted() {
        // TODO Check if Body Loaded; If Not Return to Login page By resetting
        this.otpRequired = this.$store.state._currentPayment.isOtpEnable;

        // this.otpRequired = true;
    },

    methods: {
        titleCase(str) {
            // https://www.freecodecamp.org/news/three-ways-to-title-case-a-sentence-in-javascript-676a9175eb27/
            str = str.toLowerCase().split(" ");
            for (var i = 0; i < str.length; i++) {
                str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1);
            }
            return str.join(" ");
        },
        send() {
            var body = this.$store.state._currentPayment;

            body.transactionPin = this.transactionPin === "" ? 0 : this.transactionPin;

            if (this.otpPin) {
                body.otp = this.otpPin === "" ? 0 : this.otpPin;
            }

            this.loading = true;

            this.$http
                .post("payments/confirmMemberPayment", body, {
                    headers: {
                        "Paynet-Session-Token": this.$store.state._sessionId
                    }
                })
                .then(response => {
                    this.sent = true;




                    window.internalCallback({
                        status: "passed",
                        success: true,
                        pending:
                            response.data.payload.ConfirmPaymentResult.pending,
                        cellpay_id:
                            response.data.payload.ConfirmPaymentResult.id,
                        invoice_id: this.$store.state._merchant.invoice_number
                    });

                    // console.log(this.response);
                    this.loading = false;
                    this.buttonMessage = "✔   Sent";

                    this.$store.commit("reset");

                    this.$router.push("/")

                })
                .catch(error => {
                    this.loading = false;

                    if (error.response.data.errors.length > 0) {
                        this.$notify({
                            group: "default",
                            text: error.response.data.errors[0].shortMessage,
                            type: 'warn',

                        });
                    }else{
                        this.$notify({
                            group: "default",
                            text: "Please try again later.",
                            type: 'warn',
                        });
                    }



                    window.internalCallback({
                        status: "failed",
                        success: false,
                        invoice_id: this.$store.state._merchant.invoice_number
                    });



                });

            // validation check
            // https://www.w3schools.com/js/js_validation_api.asp
        }
    },
    computed: {
        senderProfile() {
            return this.$store.state._profile;
        },
        senderInfo() {
            return {
                name: this.titleCase(this.$store.state._profile.name),
                image:
                    this.$store.state._profile.images.length > 0
                        ? this.$store.state._profile.images[0].thumbnailUrl
                        : null,
                mobilenumber: this.senderProfile.mobileNo
            };
        },
        merchantInfo() {
            return {
                name: this.$store.state._merchant.name,
                image: this.$store.state._merchant.image,
                mobilenumber: this.$store.state._merchant.number
            };
        },
        consolidatedPrice() {
            if (this.sent) {
                return "✔   Sent";
            }
            return "Send NRs. " + this.$store.state._price.toString();
        }
    }
};
</script>
