<template>
    <div class="login-view">
        <form class="login-form" @submit.prevent="submit" method="post">
            <div class="input-node">
                <div class="input-label">
                    <label for="number">Number</label>
                </div>

                <div class="input-area">
                    <input
                        type="text"
                        name="number"
                        max="10"
                        v-model="number"
                    />
                </div>
            </div>

            <div class="input-node">
                <div class="input-label">
                    <label for="password">Password</label>
                </div>

                <div class="input-area">
                    <input type="password" name="number" max="7" v-model="pin" />
                </div>
            </div>

            <div class="input-node submit-area">
                <button type="submit">
                    <div class="spinner" v-if="loading"></div>
                    <span v-else>Login</span>
                </button>
            </div>
        </form>
    </div>
</template>

<script>
export default {
    data: () => ({
        // pin: "123456",
        pin: "",
        // number: "9841666540",
        number: "",
        loading: false
    }),
    methods: {
        submit() {
            if (!this.pin) {
                console.error("No pin");
            }

            if (!this.number) {
                console.error("No number");
            }


            this.loading = true;

            this.$http
                .post(
                    "access/login/",
                    { authType: "SESSION" },
                    {
                        auth: { username: this.number, password: this.pin }
                    }
                )
                .then(response => {
                    this.$store.commit("setSessionId", response.data.sessionId);

                    this.$store.commit(
                        "setProfile",
                        response.data.payload.InitialData.profile
                    );

                    this.loading = false;

                    // console.log(this.$notify);

                    // console.log(response.data.payload.InitialData.profile);

                    // console.log("Start user accounts");
                    this.fetchUserAccounts();
                })
                .catch(error => {

                    console.log(error);

                    if (error.response.data.errors.length > 0) {
                        this.$notify({
                            group: "default",
                            text: error.response.data.errors[0].shortMessage,
                            type: 'warn',

                        });
                    }else{
                        this.$notify({
                            group: "default",
                            text: "Plese try again later.",
                            type: 'warn',

                        });
                    }

                    this.loading = false;
                });
        },
        fetchUserAccounts() {
            // console.log("Fetch user accounts");
            //
            // console.log(this.$store.state._sessionId);

            this.$http
                .get("memberRecord/accounts", {
                    headers: {
                        "Paynet-Session-Token": this.$store.state._sessionId
                    }
                })
                .then(response => {
                    // console.log(response.data.payload.MemberDetailsList);

                    // console.log()
                    this.$store.commit(
                        "setAccounts",
                        response.data.payload.MemberDetailsList
                    );

                    this.$router.replace({ name: "payment" });
                })
                .catch(error => {

                    if (error.response.data.errors.length > 0) {
                        this.$notify({
                            group: "default",
                            text: error.response.data.errors[0].shortMessage,
                            type: 'warn',

                        });
                    }else{

                        this.$notify({
                            group: "default",
                            text: "Plese try again later.",
                            type: 'warn',
                        });

                        // TODO Reset SessionID
                    }

                });

            // }).catch(error => {
            //     console.log("error fetch accounts");
            // })
        }
    }
};
</script>

<style lang="scss" scoped>
.login-view {
    display: flex;
    align-items: center;
    justify-content: center;

    // flex-direction: column;
    // height: 100%;
    // width: 100%;

    .login-form {
        width: 320px;
    }

    // margin-top: -20px;ss
}

.submit-area {
    width: 100%;
    button {
        background: #193983;
        color: white;
        outline: 0;
        border: 0;
        width: 100%;
        height: 44px;
        font-size: 17px;
        font-weight: 500;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;

        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }

        i {
            font-size: 20px;
            animation: spin 1.5s linear infinite;
        }

        &:hover {
            background: darken(#193983, 2%);
        }
    }
}

.input-node {
    // background: #193983;

    .input-label {
        text-align: left;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .input-area {
        width: 100%;
        input {
            height: 60px;
            padding: 6px 0;
            padding-left: 16px;
            padding-right: 16px;
            width: 100%;
            outline: 0;
            border: 2px solid #eee;
            border-radius: 4px;
            // padding: 12px 12px;
            margin: 0;
            background: rgba(white, 0.9);
            display: block;

            // background: rgba(#eee, 0.8);
            // text-align: left;
        }
    }
}

.input-node + .input-node {
    margin-top: 16px;
}
</style>
