<template>
    <div class="payment-view">
        <div class="payment-card">

            <transactionPeople
                :sender="senderInfo"
                :merchant="merchantInfo"
            ></transactionPeople>

            <bankAccountList :accounts="bankAccounts"></bankAccountList>

            <div class="send-amount">
                Sending NRs. {{ this.$store.state._price }}
            </div>

            <confirmButton
                text="Next  ⇒"
                :actionFunction="send"
                :loading="loading"
            ></confirmButton>

            <!--             <div class="send-confirm-button">
                <button @click="send">
                    <div v-if="loading" class="spinner"></div>
                    <span v-else>
                        Next ⇒
                    </span>
                </button>
            </div> -->
        </div>
    </div>
</template>

<script>
import TransactionPeople from "@/components/TransactionPeople";
import BankAccountList from "@/components/BankAccountsList";
import ConfirmButton from "@/components/Button";

export default {
    components: {
        transactionPeople: TransactionPeople,
        bankAccountList: BankAccountList,
        confirmButton: ConfirmButton
    },
    data: () => ({
        loading: false,
    }),
    mounted() {},

    methods: {
        bodyGenerator() {
            var bankAccount = this.$store.state._accounts[
                this.$store.state._selectedAccount
            ];

            var initiateBody = {
                transferTypeId: "50",
                amount: this.$store.state._price,
                toMemberPrincipal: this.$store.state._merchant.number,
                description: "transfer",
                currencyId: "1",
                webRequest: true,
                customValues: [
                    {
                        internalName: "SELECTBANK",
                        fieldId: "35",
                        value: bankAccount.userName
                    },
                    {
                        internalName: "PAYMENTMETHOD",
                        fieldId: "15",
                        value: "Account"
                    },
                    {
                        internalName: "ACCOUNTNUMBER",
                        fieldId: "14",
                        value: bankAccount.accountNo
                    },
                    {
                        internalName: "INVOICENUMBER",
                        fieldId: "99",
                        value: this.$store.state._merchant.invoice_number
                    }
                ],
                isOtpEnable: this.$store.state._price >= 5000
            };

            return initiateBody;
        },
        send() {
            if (this.loading){
                return;
            }

            this.loading = true;
            var body = this.bodyGenerator();


            this.$http
                .post(
                    "payments/memberPayment",
                    body,
                    {
                        headers: {
                            "Paynet-Session-Token": this.$store.state._sessionId
                        }
                    }
                )
                .then(response => {
                    this.$store.commit("setCurrentPayment", body);
                    this.$router.push({ name: "confirmpayment" });


                    this.loading = false;

                })
                .catch(error => {
                    this.loading = false;

                    if (error.response.data.errors.length > 0) {
                        this.$notify({
                            group: "default",
                            text: error.response.data.errors[0].shortMessage,
                            type: 'warn',

                        });
                    }else{
                        this.$notify({
                            group: "default",
                            text: "Please try again later.",
                            type: 'warn',
                        });
                    }


                });

        },

        titleCase(str) {
            // https://www.freecodecamp.org/news/three-ways-to-title-case-a-sentence-in-javascript-676a9175eb27/
            str = str.toLowerCase().split(" ");
            for (var i = 0; i < str.length; i++) {
                str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1);
            }
            return str.join(" ");
        }
    },
    computed: {
        senderProfile() {
            return this.$store.state._profile;
        },
        senderInfo() {
            return {
                name: this.titleCase(this.$store.state._profile.name),
                image:
                    this.$store.state._profile.images.length > 0
                        ? this.$store.state._profile.images[0].thumbnailUrl
                        : null,
                mobilenumber: this.senderProfile.mobileNo
            };
        },
        merchantInfo() {
            return {
                name: this.$store.state._merchant.name,
                image: this.$store.state._merchant.image,
                mobilenumber: this.$store.state._merchant.number
            };
        },
        consolidatedPrice() {
            return "Send NRs. " + this.$store.state._price.toString();
        },
        bankAccounts() {
            return this.$store.state._accounts;
        }
    }
};
</script>

<style lang="scss">
.send-amount {
    text-align: center;
    color: #aaa;
    margin-top: 20px;
    font-weight: 600;
}

.transaction-pin {
    width: 100%;
    margin-top: 20px;

    input {
        padding: 20px 12px;
        min-width: 100%;
        display: block;
        background: #eee;
        border: 0;
        outline: 0;
        text-align: center;
    }
}

.otp-pin {
    label {
        display: block;
        text-align: left;
        // background: red;
        color: #888;
    }
}

.from {
    .label {
        font-weight: 600;
        color: #bbb;
        font-size: 14px;
        text-align: left;
        margin-bottom: 2px;
    }
}

.from-right {
    margin-left: 170px;
    position: relative;
}

.identity-container {
    display: flex;
    // justify-content: center;
    align-items: center;

    .image {
        height: 48px;
        width: 48px;
        display: block;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #eee;

        img {
            height: 100%;
            width: 100%;
        }
    }

    .name {
        margin-left: 10px;

        .number {
            text-align: left;
            font-size: 14px;
            font-weight: 400;
            color: #aaa;
        }
        .fullname {
            font-weight: 600;
            font-size: 17px;
            // align-self: flex-start;
        }
    }
}

.payment-view {
    width: 100%;
    display: flex;
    justify-content: center;

    .payment-card {
        width: 340px;
        // align-self: center;
        background: white;
        // height: 400px;
        border: 2px solid #fafafa;
        border-radius: 4px;
        padding: 1rem;
        margin-bottom: 100px;
    }
}

.bank-accounts {
    margin-top: 40px;
}

.bank {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16.5px;

    &:hover {
        background: darken(#eee, 2%);
    }

    &--selected {
        background: #193983;
        color: white;
        transition: all 200ms ease-out;

        &:hover {
            background: darken(#193983, 2%);
        }
    }
}

.send-confirm-button {
    margin-top: 40px;

    button {
        background: darken(#00d632, 9%);

        // height: 80px;
        padding: 20px;
        outline: 0;
        width: 100%;
        border: 0;
        font-weight: 600;
        font-size: 17px;
        color: white;
        border-radius: 4px;
        cursor: pointer;
        animation: all 200ms ease-out;

        &:hover {
            background: darken(#00d632, 4%);
        }

        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }

        i {
            font-size: 24px;
            animation: spin 1.5s linear infinite;
        }
    }
}
</style>
