
// *{
//  box-sizing: border-box;
// }

// html, body, .container{
//   height: 100%;
//   width: 100%;
//   font-family: 'Open Sans', sans-serif;
//   box-sizing: border-box;
// }


// #app {
//   font-family: "Avenir", Helvetica, Arial, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   height: 100%;
//   width: 100%;
//   box-sizing: border-box;
//   outline: none;
//   margin: 0;
//   padding: 0;
// }


