

@mixin breakpoint($class) {
    @if $class == large {
        @media only screen and (min-width: 450px) {
            @content;
        }
    } @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}
