// @import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

// @import "./normalize.scss";
// @import "./vars.scss";
// @import "./base.scss";

@import "mixins.scss";

.cellpay--window {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(white, 0.8);
    opacity: 0;
    transition: opacity 200ms ease-out;
    // z-indsex: -1;
    visibility: hidden;

    &__showing{
        opacity: 1;
        visibility: visible;
        // z-index: 2147482999;
        transition: opacity 200ms ease-out;

    }



    .payment-container {

        width: 90%;
        height: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // index: 2147483000;
        // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border-radius: 4px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);



        @include breakpoint(large){
            max-width: 500px;
        }

    }
}

// [class^="Chatkit__Container__FrameHolder--"]{

//     $keyframeId: unique-id();
//     $slideIn: Chakit__SlideIn--#{$keyframeId};
//     $slideOut: Chakit__SlideOut--#{$keyframeId};

//     @keyframes #{$slideIn} {
//         0% {
//             opacity: 0;
//             transform: translate3d(0, 28px, 0);
//             visibility: hidden;
//             // display: none;
//         }
//         100% {
//             opacity: 1;
//             transform: translate3d(0, 0, 0);
//             visibility: visible;
//             // display: block;
//         }
//     }

//     @keyframes #{$slideOut} {
//         0% {
//             opacity: 1;
//             // transform: translateY(0px);
//             transform: translate3d(0, 0, 0);
//             visibility: visible;
//             // display: block;
//         }
//         100% {
//             opacity: 0;
//             transform: translate3d(0, 28px, 0);
//             // transform: translateY(24px);
//             visibility: hidden;
//             // display: none;
//         }
//     }

//     .chatkit--window-frame {
//         z-index: 2147483000;
//         position: fixed;
//         // bottom: 100px;
//         bottom: 0;
//         // left: 0;
//         // right: 20px;
//         // width: 376px;
//         // min-height: 250px;
//         // max-height: 704px;
//         box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px;
//         border-radius: 8px;
//         // overflow: hidden;
//         opacity: 0;
//         visibility: hidden;
//         // height: calc(100% - 120px);
//         height: 100vh;
//         width: 100vw;
//         overflow: auto;
//         -webkit-overflow-scrolling: touch;
//         left: 0;

//         @include breakpoint(large){
//             border-radius: 20px;

//         }

//     }

//     .chatkit--window-frame--visible {
//         opacity: 1;
//         visibility: visible;
//         animation-duration: 500ms;
//         // animation-fill-mode: both;
//         animation-name: #{$slideIn};
//         // left: 0;
//         // pointer-events: auto;
//         // transition: transform 0.6s cubic-bezier(0.6, -0.28, 0.735, 0.045);
//     }

//     .chatkit--window-frame--invisible {
//         opacity: 0;
//         // visibility: hidden;
//         animation-duration: 400ms;
//         // animation-fill-mode: both;
//         animation-name: #{$slideOut};
//         // pointer-events: none;
//     }

//     .chatkit--button-frame {
//         z-index: 2147483000;
//         position: fixed;
//         bottom: 20px;
//         right: 20px;
//         width: 60px;
//         height: 60px;
//         border-radius: 50%;
//         overflow: hidden;
//         background: transparent;
//         // #0a5bff
//         // background: #0a5bff none repeat scroll 0% 0%;
//         // box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 6px 0px;
//         // box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 40px;
//         box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
//         transition: opacity 0.3s ease-in 0s;

//     }
// }
